<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../partials/head');  %> 
</head>
<body>
<%- include('../partials/menu');  %>
<div class="container-fluid bg-3 text-center">    
  <h3>About us.</h3><br>
  <div class="row">
    <div class="col-sm-4"> 
      <p>Welcome to your friendly neighborhood library. we have more than 50,000+ free ebooks.</p>
    </div>
    <div class="col-sm-4">
      <p>Join 150,000+ fellow readers. Get free and discounted best sellers straight to your inbox with our daily newsletter.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Not sure what to read next? explore our catalog of public domain books with our editors. some real gems are hidden in our library.</p>
    </div>
  </div>
</div>
</body>
<%- include('../partials/script');  %>
</html>